{% load static %}
<html>
    <style>
        body{
            background-image:url("{% static 'images/triangle5.jpg' %}");
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .area{
            background-color: rgba(255,255,255,0.6);
            height: 90%;
            width: 85%;
            margin-left: 100px;
            margin-top: 20px;
            border-radius: 20%;
        }
    </style>
    
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <body>
          <table width="100%" class="tabtheme">
    <tr >
        <td class="bg"><a href="homepage" class="link">home</a></td>
        <td class="bg"><a href="aboutus" class="link">about us</a></td>
        <td class="bg"><a href="loginlink" class="link">login</a></td>
        <td class="bg"><a href="signup" class="link">sign up</a></td>
        <td class="bg"><a href="contactus" class="link">contact us</a></td>
    </tr>
</table>
        <div class="area">
            <div style="height:90%; width: 90%; font-size: 20px; margin-left: 70px;">
            <br><br>
            In todays fast-paced world, convenience and efficiency are paramount. 
            The days of waiting in long queues to book movie tickets, theater seats, 
            or event passes are gradually fading away. Thanks to online booking systems 
            (OBS), customers can now reserve their spots with just a few clicks. So, 
            what exactly is an OBS, and why is it crucial for businesses, especially those 
            operating entertainment venues like a Game Zone in a mall, Game Era is providing 
            those servies online.
            <br>
            <h2>OUR VISION</h2>
            1. To create an immersive and seamless online booking experience that empowers gamers, 
            thrill-seekers, and families. <br>
            2. To effortlessly reserve their favorite gaming sessions, escape room adventures, and 
            laser tag battles within our vibrant Game Zone.<br>
            3. We envision a world where entertainment enthusiasts can explore, book, and anticipate 
            exhilarating moments with ease<br>
            <h2>OUR MISSION</h2>
            1. Accessibility: Our mission emphasizes inclusivity. We want everyone whether avid 
            gamers or casual visitors to easily book their play sessions, parties, and events.<br>
            2. Seamlessness: We commit to a hassle-free booking journey. From selecting time slots 
            to securing tickets, our system will be intuitive and efficient.<br>
            3. Anticipation: By streamlining reservations, we build excitement. Guests eagerly await 
            their booked sessions, knowing they are in for an adventure.<br>
            4. Memorable Experiences: Our mission centers on creating lasting memories. Whether its a 
            laser tag battle or an escape room challenge, we want every visit to be unforgettable.<br>
          </div>  
        </div>
    </body>
</html>