{% load static %}
<html>
    <style>
        body{
            background-image:url("{% static 'images/triangle19.jpg' %}");
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .texttheme
        {
            width:300px;
            height:25px;
            border:inset;
            border-color:blue;
        }
    </style>
    
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <body>
        <div>
    <table width="100%" class="tabtheme">
    <tr >
        <td class="bg"><a href="CustomerHome" class="link">home</a></td>
        <td class="bg"><a href="CustomerSetting" class="link">Setting</a></td>
        <td class="bg"><a href="CustomerView" class="link">View</a></td>
        <td class="bg"><a href="book" class="link">Book</a></td>
        <td class="bg"><a href="logout" class="link">logout</a></td>
    </tr>
    </table> 
            </div>
        <div>
        <form action="CustomerEmailChange" method="post">
            {% csrf_token %}
        <table  class="table">
            <tr align="center" >
                <td colspan="2"><h1>Update Email</h1></td>
            </tr>
            <tr align="center">
                <td>Id</td>
                <td><input type="text" name="uid"class="texttheme"></td>
                
            </tr>
            <tr align="center">
                 <td>New City</td>
                <td><input type="email" name="nEmail" class="texttheme"></td>
            </tr>
            
                
                <tr align="center">
                    <td colspan="2">
                        <input type="submit" value="UPDATE">
                    </td>
                </tr>
            </table>
            </form>
            </div>
    </body>
</html>