{% load static %}
<html>
    <style>
        body{
            background-image:url("{% static 'images/triangle6.jpg' %}");
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .texttheme
        {
            width:300px;
            height:25px;
            border:inset;
            border-color:blue;
        }
    </style>
    
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <body>
        <div>
    <table width="100%" class="tabtheme">
    <tr >
        <td class="bg"><a href="EmployeeHome" class="link">home</a></td>
        <td class="bg"><a href="EmployeeSetting" class="link">Setting</a></td>
        <td class="bg"><a href="EmployeeView" class="link">View</a></td>
        <td class="bg"><a href="EmpAccount" class="link">Account</a></td>
        <td class="bg"><a href="logout" class="link">logout</a></td>
    </tr>
    </table> 
            </div>
        <h2 style="color: blue">Welcome {{ request.session.auth }}</h2>
    </body>
</html>