{% load static %}
<html>
    <style>
        body{
            background-image:url("{% static 'images/triangle8.jpg' %}");
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .texttheme
        {
            width:300px;
            height:25px;
            border:inset;
            border-color:blue;
        }
    </style>
    
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <body>
        <div>
    <table width="100%" class="tabtheme">
    <tr >
        <td class="bg"><a href="EmployeeHome" class="link">home</a></td>
        <td class="bg"><a href="EmployeeSetting" class="link">Setting</a></td>
        <td class="bg"><a href="EmployeeView" class="link">View</a></td>
        <td class="bg"><a href="EmpAccount" class="link">Account</a></td>
        <td class="bg"><a href="logout" class="link">logout</a></td>
    </tr>
    </table> 
            </div>
        <div>
        <form action="EmpPasswordChange" method="post">
            {% csrf_token %}
        <table  class="table">\
            <tr align="center" >
                <td colspan="2"><h3 style="color: blue">{{ message}}</h3></td>
            </tr>
            <tr align="center" >
                <td colspan="2"><h1>Update Password</h1></td>
            </tr>
            <tr align="center">
                <td>Id</td>
                <td><input type="text" name="uid"class="texttheme"></td>
                
            </tr>
            <tr align="center">
                 <td>Old Password</td>
                <td><input type="password" name="Opwd" class="texttheme"></td>
            </tr>
            
            <tr align="center">
                 <td>New Password</td>
                <td><input type="password" name="Npwd" class="texttheme"></td>
            </tr>
            <tr align="center">
                 <td>Confirm Password</td>
                <td><input type="password" name="Cpwd" class="texttheme"></td>
            </tr>
                
            
                
                <tr align="center">
                    <td colspan="2">
                        <input type="submit" value="UPDATE">
                    </td>
                </tr>
            </table>
            </form>
            </div>
    </body>
</html>