{% load static %}

<html>
    <style>
        body{
            background-image:url("{% static 'images/triangle21.jpg' %}");
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    </style>
    
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <body>
          <table width="100%" class="tabtheme">
    <tr >
        <td class="bg"><a href="homepage" class="link">home</a></td>
        <td class="bg"><a href="aboutus" class="link">about us</a></td>
        <td class="bg"><a href="loginlink" class="link">login</a></td>
        <td class="bg"><a href="signup" class="link">sign up</a></td>
        <td class="bg"><a href="contactus" class="link">contact us</a></td>
    </tr>
</table>    
    </body>
</html>